In [ ]:
#hash is used to comment single line

In [75]:
'''
here it is multiple comment
'''

print('hello world \nMahbub Alam') # \n used for new line
print('hello world \tMahbub Alam') # \t used for provide 4spaces 
print("\"hello world\" \tMahbub Alam") #special quotation can be shown using \before special quotations like ""

hello world
Mahbub Alam
hello world 	Mahbub Alam
"hello world" 	Mahbub Alam

In [11]:
#variable
#variable can name can use only string, number and underscore (_) 
#however you can not start a variable name using Number
name = "Mahbub Alam"
age = 26
print("My Name is " + name) #string can print using '+' sign
print("My age is ", age) #for printing number we must use ','

My Name is Mahbub Alam
My age is  26

In [16]:
#data type in python
'''
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''
print()

In [23]:
#numaric operation
'''
+ => addition, - => substraction , * => multiplication , / => division

// => Floor, ** => Exponentiation, % => reminder
'''
print(5+4)
print(5-4)
print(5*4)
print(5/4)
print(5%4)
print(5//1.6)
print(2**4)

9
1
20
1.25
1
3.0
16

In [24]:
#getting input from user
name = input("Enter your name")
age = input ("Enter your age")

print("Name is " + name + " Age is" , age)

Enter your namemahbub
Enter your age12
Name is mahbub Age is 12

In [26]:
#type casting
num1 = int(input("Enter First Number"))
num2 = int(input("Enter Second Number"))
result = num1 + num2;
print("Addition of two number is ", result)
print("Addition of two number is "+ str(result))

Enter First Number3
Enter Second Number4
Addition of two number is  7
Addition of two number is 7

In [31]:
#math library fuctions
'''
function can be library function and user defined function
1. function already created like print(), input() are library function
2. function that are created by us user defined function
'''
from math import *
maximumValue = max(20, 10)
print('Maximum', maximumValue)
print('power', pow(2,3))
print('round', round(3.2))
print('Floor', floor(3.7))
print('Ceil', ceil(3.7))

Maximum 20
power 8.0
round 3
Floor 3
Ceil 4

In [35]:
#formatting string and type function
num1 = 20;
num2 = 30;
print(type(num1))
print(f" {num1} + {num2} = {num1 + num2}")

print("Md Mahbub Alam", end=" ") #print default print a new line using end we can remove default behavior
print("Sirajganj")

<class 'int'>
 20 + 30 = 50
Md Mahbub Alam Sirajganj

In [42]:
#if elif
result  = 75

if(result > 80):
    print("A+")
elif(result > 70 & result < 80):
    print("A")
else:
    print("F")

A

In [43]:
#ternary operator
#output1 condition output2
num1 = 20
num2 = 30

print(num1 if num1>num2 else num2)

30

In [45]:
#logical operator and, or
ch = 'e'
if (ch == 'a' or ch == 'e' or ch =='i' or ch =='o' or ch == 'u'):
    print('Vowel')
else:
    print('Consonant')

Vowel

In [47]:
value = 0;
while value<10:
    print(value)
    value = value+1

0
1
2
3
4
5
6
7
8
9

In [48]:
#break and continue
#break inside loop if we use it.it will break means exit from the loop
#continue inside loop if we use it. it will go back to the loop and does not execute below code
print()

In [74]:
#List in python 
'''
it can be assume as an object where we can store lots of data
'''
subject = ["C", "C++", "Java", "Python", "12"]
print(subject)
print(subject[0])
print(subject[2:])
print(subject[-1])

#check value exists in list or not 
print("C" in subject) #case sensitive (not in work opposite)

additionalSubject = ["PhP", "JavaScript"]
print(subject+additionalSubject) #concate 2 list
print(subject*2) # make double of subject list
print(len(subject)) #length of the list

subject.append("Basic") #add item in the last
print(subject)

subject.insert(2, "OS") #index wise insert
print(subject)

subject.remove("Basic") #remove item
print(subject)

subject.sort() #must required all item in same data type
#sort() assending and reverse() decending
print(subject)

pop = subject.pop() #remove last item
print(subject)

#subject.clear() #clear full list
#print(subject)

subject2 = subject.copy()
print(subject2)

position = subject.index("C++") #return index if exist or provide error
print(position)

itemWiseCount = subject.count("C++")
print(itemWiseCount)

['C', 'C++', 'Java', 'Python', '12']
C
['Java', 'Python', '12']
12
True
['C', 'C++', 'Java', 'Python', '12', 'PhP', 'JavaScript']
['C', 'C++', 'Java', 'Python', '12', 'C', 'C++', 'Java', 'Python', '12']
5
['C', 'C++', 'Java', 'Python', '12', 'Basic']
['C', 'C++', 'OS', 'Java', 'Python', '12', 'Basic']
['C', 'C++', 'OS', 'Java', 'Python', '12']
['12', 'C', 'C++', 'Java', 'OS', 'Python']
['12', 'C', 'C++', 'Java', 'OS']
['12', 'C', 'C++', 'Java', 'OS']
2
1

In [6]:
#range function start from 0 and end from n-1
print(list(range(10)))
#range with  start and end //it prints from starting point to end-1
print(list(range(5,11)))
#range with start, end and interva// it prints from start point to end-1 with interval++/--

print(list(range(2, 101, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
#for loop in python
num = [10, 20, 30, 40, 50];


for item in num:
    print(item)

10
20
30
40
50

In [9]:
#series in python
#1 + 2 + 3 + ...+ n

n = int(input("Enter the number of N :" ))
sum = 0

for item in range(1, n+1, 1):
    sum = sum+item
print(sum)

Enter the number of N :5
15

In [10]:
#pattern in python
n = 3
for i in range(n+1):
    print(i*"* ")

*
* *
* * *